.header-wrapper {
  background: rgba(16, 22, 54, 0.2);
  position: relative;
  z-index: 100;
  .header {
    height: 70px;
    padding: 0;
    @media (max-width: 1199.98px) {
      padding: 0 15px;
    }
    .navbar-expand-lg {
      padding: 0;
      .navbar-brand {
        margin: 0;
        strong {
          font: 28px "Pacifico", cursive;
          color: #fff;
        }
      }
      .logo-title {
        font: 300 13px "Open Sans", sans-serif;
        color: #fff;
        border-left: 1px solid rgba(50, 176, 238, 0.3);
        padding-left: 20px;
        margin-left: 25px;
      }
      .navbar-collapse {
        justify-content: flex-end;
      }
      .navbar-nav {
        @media (max-width: 991.98px) {
          height: 100vh;
          background: #0d2828;
        }
        .nav-item {
          .nav-link {
            color: #fff;
            border-top: 1px solid transparent;
            margin-left: 30px;
            padding: 25px 3px;
            @media (max-width: 991.98px) {
              text-align: center;
              border: 1px solid transparent;
              font-size: 20px;
            }
            &:hover {
              border-top: 1px solid #32b0ee;
              color: #fff;
              @media (max-width: 991.98px) {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
              }
            }
          }
        }
        .active {
          .nav-link {
            border-top: 1px solid #32b0ee;
            color: #fff !important;
            @media (max-width: 991.98px) {
              border-top: 1px solid transparent;
              border-bottom: 1px solid #32b0ee;
              &:hover {
                border-bottom: 1px solid #32b0ee;
              }
            }
          }
        }
      }
    }
  }
}
.burger {
  svg {
    color: #fff;
    width: 35px;
    height: 35px;
  }
}
.navbar-toggler {
  border: 2px solid #fff;
  &:focus {
    outline: none;
  }
}

