@import "_variables";
@import "_header";

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}















// font-family: 'Open Sans', sans-serif;
// font-family: 'Pacifico', cursive;